<!DOCTYPE html>
<html class="back-form">
<head>
  <title>Compara tu Crédito Automotriz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="<%= url("/style.css")%>" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body class="center container border">
  <h5 class="no-margin"><b>Compara tu Crédito Automotriz</b></h5>
  <h5 class="no-margin"><b>con uno de BCI</b></h5>
  <div class="row"></div>
  <p>El valor de la cuota con un crédito en BCI es de $<%= monto_credito_consumo %></p>
  <p>Mientras que el valor de la cuota con el crédito automotriz es de $<%= monto_credito_automtriz %></p>
  <p></p>
  <% if monto_credito_automtriz < monto_credito_consumo %>
    <table class="centered">
      <thead>
        <tr>
            <th></th>
            <th class="marcar"><i class="right small material-icons" style="color: green;">check</i></th>
            <th class="marcar"><div class="left">Crédito Automotriz</div></th>
            <th>Crédito <object class="img" type="image/svg+xml" data="<%= url("/logo-bci.svg")%>"></object></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Valor Cuota</td>
          <td class="marcar"></td>
          <td class="marcar"><div class="left"><%= monto_credito_automtriz %></div></td>
          <td><%= monto_credito_consumo %></td>
        </tr>
      </tbody>
    </table>
    <font size="4"><b>Por lo que no conviene tomar el crédito con BCI</b></font>
  <% else %>
    <table class="centered">
      <thead>
        <tr>
            <th></th>
            <th>Crédito Automotriz</th>
            <th class="marcar"><i class="right small material-icons" style="color: green;">check</i></th>
            <th class="marcar"><div class="left">Crédito <object class="img" type="image/svg+xml" data="<%= url("/logo-bci.svg")%>"></object></div></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Valor Cuota</td>
          <td><%= monto_credito_automtriz %></td>
          <td class="marcar"></td>
          <td class="marcar"><div class="left"><%= monto_credito_consumo %></div></td>
        </tr>
      </tbody>
    </table>
    <font size="4"><b>Por lo que si conviene tomar el crédito con BCI</b></font>
  <% end %>
</body>
